@font-face {
    font-family: "Kanit";
    src: local("Kanit"),
        url(./fonts/Kanit/Kanit-Thin.ttf) format("truetype");
}

@font-face {
    font-family: "Kanit-bold";
    src: local("Kanit-bold"),
        url(./fonts/Kanit/Kanit-Bold.ttf) format("truetype");
}

@font-face {
    font-family: "Kanit-SemiBold";
    src: local("Kanit-semi-bold"),
        url(./fonts/Kanit/Kanit-Light.ttf) format("truetype");
}

@font-face {
    font-family: "Kanit-Medium";
    src: local("Kanit-Medium"),
        url(./fonts/Kanit/Kanit-Medium.ttf) format("truetype");
}

@font-face {
    font-family: "Roboto-bold";
    src: local("Roboto-bold"),
        /* url(./fonts/Roboto/Roboto-Bold.ttf) format("truetype"); */
}


*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
}

html {
    font-size: 62.5%;
    line-height: 1.6;
    scroll-behavior: smooth;
}

@media only screen and (max-width: 80em) {
    html {
        font-size: 52%;
    }
}

@media only screen and (max-width: 64em) {
    html {
        font-size: 48%;
    }
}

@media only screen and (max-width: 50em) {
    html {
        font-size: 45%;
    }
}

@media only screen and (max-width: 27em) {
    html {
        font-size: 33%;
    }
}

body {
    overflow-x: hidden;
    font-family: "Roboto";
}